{% extends "base.html" %} {% load static %} {% block content %}

<div class="page-banner overlay-dark bg-image" style="background-image: url(/static/img/disease\ 1.jpg)">
  <div class="banner-section">
    <div class="container text-center wow fadeInUp">
      <nav aria-label="Breadcrumb">
        
      </nav>
      <h1 class="font-weight-normal">Our Diseases</h1>
    </div>
    <!-- .container -->
  </div>
  <!-- .banner-section -->
</div>
<br /><br />
<!-- .page-banner -->

<style>

  /* // Bootstrap resets */
  .card {
    border: none;
  }

  .card-img {
    border-radius: 0;
  }

  .vgr-cards {
    .card {
      display: flex;
      flex-flow: wrap;
      flex: 100%;
      margin-bottom: 40px;

      &:nth-child(even) .card-img-body {
        order: 2;
      }

      &:nth-child(even) .card-body {
        padding-left: 0;
        padding-right: 1.25rem;
      }

      @media (max-width: 576px) {
        display: block;
      }
    }

    .card-img-body {
      flex: 1;
      overflow: hidden;
      position: relative;

      @media (max-width: 576px) {
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
      }
    }

    .card-img {
      width: 100%;
      height: auto;
      position: absolute;
      margin-left: 50%;
      transform: translateX(-50%);

      @media (max-width: 1140px) {
        margin: 0;
        transform: none;
        width: 100%;
        height: auto;
      }
    }

    .card-body {
      flex: 2;
      padding: 0 0 0 1.25rem;

      @media (max-width: 576px) {
        padding: 0;
      }
    }
  }
</style>

<div class="container">
  <div class="card-group vgr-cards">
    <div class="card">
      <div class="card-img-body">
        <img src="{% static '\img\person\eyes flu.jpeg' %}" alt="Card image cap" />
      </div>
      <div class="card-body">
        <h4 class="card-title">Eyes</h4>
        <p class="card-text">
          Conjunctivitis, commonly called 'pink eye' or 'eye flu,' is an ailment that has periodically re-emerged in various parts of the world, sparking both concern and a myriad of misconceptions. With Mumbai currently experiencing a surge in cases, especially among children, it's become imperative to distinguish fact from fiction.

<!-- Conjunctivitis is not just a singular disease but a symptom of several underlying causes, ranging from viral to bacterial infections, allergies, or exposure to irritants. In light of this ongoing wave, understanding its nuances, risk populations, preventive measures, and debunking prevalent myths is crucial. -->
        </p>
        <a href="{% url 'eyes' %}" class="btn btn-outline-primary">Eyes</a>
      </div>
    </div>
    <div class="card">
      <div class="card-img-body">
        <img class="card-img" src="{% static '\img\person\heart .jpeg' %}"
          alt="Card image cap" />
      </div>
      <div class="card-body">
        <h4 class="card-title">Heart Attack</h4>
        <p class="card-text">
          A heart attack occurs when the flow of blood to the heart is severely reduced or blocked. The blockage is usually due to a buildup of fat, cholesterol and other substances in the heart (coronary) arteries. The fatty, cholesterol-containing deposits are called plaques. The process of plaque buildup is called atherosclerosis.

Sometimes, a plaque can rupture and form a clot that blocks blood flow. A lack of blood flow can damage or destroy part of the heart muscle.
        </p>
        <a href="{% url 'heart' %}" class="btn btn-outline-primary">Heart Attack</a>
      </div>
    </div>
    <div class="card">
      <div class="card-img-body">
        <img class="card-img" src="{% static '\img\person\asthma.jpeg'%}"
          alt="Card image cap" />
      </div>
      <div class="card-body">
        <h4 class="card-title">Asthma</h4>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This card has even longer content than the
          first to show that equal height action. This is a wider card with
          supporting text below as a natural lead-in to additional content. This
          content is a little bit longer.
        </p>
        <a href="{% url 'asthma' %}" class="btn btn-outline-primary">Asthma</a>
      </div>
    </div>
    <div class="card">
      <div class="card-img-body">
        <img class="card-img" src="{% static '\img\person\hair fall.jpeg' %}"
          alt="Card image cap" />
      </div>
      <div class="card-body">
        <h4 class="card-title">Hair</h4>
        <p class="card-text">
          the part beneath the skin, called the hair follicle, or, when pulled from the skin, the bulb or root. This organ is located in the dermis and maintains stem cells, which not only re-grow the hair after it falls out, but also are recruited to regrow skin after a wound.[2]
the hair shaft, which is the hard filamentous part that extends above the skin surface. A cross section of the hair shaft may be divided roughly into three zones.
        </p>
        <a href="{% url 'hair' %}" class="btn btn-outline-primary">Hair </a>
      </div>                                                            
    </div>
    <div class="card">
      <div class="card-img-body">
        <img class="card-img" src="{% static '/img/person/diabetesss.jpeg' %}"
          alt="Card image cap" />
      </div>
      <div class="card-body">
        <h4 class="card-title">Diabetes</h4>
        <p class="card-text">
          Diabetes is a chronic (long-lasting) health condition that affects how your body turns food into energy.

Your body breaks down most of the food you eat into sugar (glucose) and releases it into your bloodstream. When your blood sugar goes up, it signals your pancreas to release insulin. Insulin acts like a key to let the blood sugar into your body’s cells for use as energy.
        </p>
        <a href="{% url 'asthma' %}" class="btn btn-outline-primary">Diabetes</a>
      </div>
    </div>
    <div class="card">
      <div class="card-img-body">
        <img class="card-img" src="{% static '/img/person/tuber.jpeg' %}"
          alt="Card image cap" />
      </div>
      <div class="card-body">
        <h4 class="card-title">Tuberculosis</h4>
        <p class="card-text">
          Tuberculosis (TB) is a serious illness that mainly affects the lungs. The germs that cause tuberculosis are a type of bacteria.

Tuberculosis can spread when a person with the illness coughs, sneezes or sings. This can put tiny droplets with the germs into the air. Another person can then breathe in the droplets, and the germs enter the lungs.

<!-- Tuberculosis spreads easily where people gather in crowds or where people live in crowded conditions. People with HIV/AIDS and other people with weakened immune systems have a higher risk of catching tuberculosis than people with typical immune systems.

Drugs called antibiotics can treat tuberculosis. But some forms of the bacteria no longer respond well to treatments. -->
        </p>
        <a href="{% url 'hair' %}" class="btn btn-outline-primary">Tuberculosis</a>
      </div>                                                            
    </div>
      </div>
</div>

<!-- .banner-home -->

{% endblock content %}