{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="about-section">
	<div class="container">
		<div class="row">
			<div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
				<div class="inner-column">
					<div class="sec-title">
						
						<h2>Physical activity</h2>
					</div>
					<!-- <div class="text">I am Rahul Yaduvanshi works at Css3 Transition since last 3 years. We are here to
						provide touch notch solution for your website or web application that helps you to make your
						website look attractive & efficient in handling by creating usefull plugins thats you need.
					</div> -->
					<div class="text">
						Regular physical activity is proven to help prevent and manage noncommunicable diseases such as heart disease, stroke, diabetes and several cancers. It also helps prevent hypertension, maintain healthy body weight and can improve mental health, quality of life and well-being. 
						<br><br>
						Popular ways to be active include walking, cycling, wheeling, sports, active recreation and play, and can be done at any level of skill and for enjoyment by everybody. 
					</div>
				</div>
			</div>

			<!-- Image Column -->
			<div class="image-column col-lg-6 col-md-12 col-sm-12">
				<div>
					
					<figure class="image-1"><a href="{% url 'fitness' %}" class="lightbox-image" data-fancybox="images"><img src="{% static '\img\person\fitness 2.jpeg' %}" alt=""></a>
					</figure>

				</div>
			</div>

		</div>
		<div class="sec-title">
			<!-- <span class="title">Our Future Goal</span> -->
			<h2>Key facts</h2>
		</div>
		<ul style="font-weight: bolder;	list-style-type: disc; line-height: 30px; font-size: 17px;">
			<li>Physical activity has significant health benefits for hearts, bodies and minds.
			</li>
			<li>Physical activity reduces symptoms of depression and anxiety.
			</li>
			<li>Globally, 1 in 4 adults do not meet the global recommended levels of physical activity.
			</li>
			<li>Physical activity ensures healthy growth and development in young people.
			</li>
			<li>People who are insufficiently active have a 20% to 30% increased risk of death compared to <br> people who are sufficiently active.
			</li>
			<li>More than 80% of the world's adolescent population is insufficiently physically active.
			</li>
			<li>Physical activity contributes to preventing and managing noncommunicable diseases such as <br>cardiovascular diseases, cancer and diabetes
			</li>
		</ul>
		<div>
			<h2 style="margin-top: 25px; font-weight: bolder;">How much of physical activity is recommended?
			</h2>
			<p style="margin-top: 20px; font-size: 17px; width: 80%; line-height: 30px;">BRIGHT-HEALTH guidelines and recommendations provide details for different age groups and specific population groups on how much physical activity is needed for good health</p>

			<p style="font-size: 17px; width: 80%; line-height: 30px;">BRIGHT-HEALTH recommends: <br>
				<b>For children under 5 years of age</b></p>

			<p style="font-size: 17px; width: 80%;"><b><i>In a 24-hour day, infants (less than 1 year) should:</i></b></p>
			<ul style="list-style-type: disc; font-size: 17px; width: 80%; line-height: 30px;">
				<li>be physically active several times a day in a variety of ways, particularly through interactive floor-based play; more is better. For those not yet mobile, this includes at least 30 minutes in prone position (tummy time) spread throughout the day while awake;
				</li>
				<li>not be restrained for more than 1 hour at a time (e.g., prams/strollers, high chairs, or strapped on a caregiver's back);
					<li style="list-style-type: circle; margin-left: 20px;">Screen time is not recommended.</li>
				</li>
				<li>When sedentary, engaging in reading and storytelling with a caregiver is encouraged; and</li>
				<li>have 14-17h (0-3 months of age) or 12-16h (4-11 months of age) of good quality sleep, including naps.</li>
			</ul>
			<p style="font-size: 17px; width: 80%; margin-top: 15px;"><b><i>In a 24-hour day, children 1-2 years of age should:</i></b></p>	
			<ul style="list-style-type: disc; font-size: 17px; width: 80%; line-height: 30px;">
				<li>spend at least 180 minutes in a variety of types of physical activities at any intensity, including moderate- to vigorous-intensity physical activity, spread throughout the day; more is better;
				</li>
				<li>not be restrained for more than 1 hour at a time (e.g., prams/strollers, high chairs, or strapped on a caregiver's back) or sit for extended periods of time.
					<li style="list-style-type: circle; margin-left: 20px;">For 1 year olds, sedentary screen time (such as watching TV or videos, playing computer games) is not recommended. </li>
					<li style="list-style-type: circle; margin-left: 20px;">For those aged 2 years, sedentary screen time should be no more than 1 hour; less is better. </li>
				</li>
				<li>When sedentary, engaging in reading and storytelling with a caregiver is encouraged; and</li>
				<li>have 11-14h of good quality sleep, including naps, with regular sleep and wake-up times.</li>
			</ul>
			<p style="font-size: 17px; width: 80%; margin-top: 15px;"><b><i>In a 24-hour day, children 3-4 years of age should:</i></b></p>	
			<ul style="list-style-type: disc; font-size: 17px; width: 80%; line-height: 30px;">
				<li>spend at least 180 minutes in a variety of types of physical activities at any intensity, of which at least 60 minutes is moderate- to vigorous-intensity physical activity, spread throughout the day; more is better;
				</li>
				<li>not be restrained for more than 1 hour at a time (e.g., prams/strollers) or sit for extended periods of time.
					<li style="list-style-type: circle; margin-left: 20px;">Sedentary screen time should be no more than 1 hour; less is better. </li>
				</li>
				<li>When sedentary, engaging in reading and storytelling with a caregiver is encourage; and</li>
				<li>have 10-13h of good quality sleep, which may include a nap, with regular sleep and wake-up times.</li>
			</ul>
			<p style="font-size: 17px; width: 80%; margin-top: 15px;"><b>Children and adolescents aged 5-17 years</b></p>	
			<ul style="list-style-type: disc; font-size: 17px; width: 80%; line-height: 30px;">
				<li>should do at least an average of 60 minutes per day of moderate-to-vigorous intensity, mostly aerobic, physical activity, across the week.
				</li>
				<li>should incorporate vigorous-intensity aerobic activities, as well as those that strengthen muscle and bone, at least 3 days a week.
				</li>
				<li>should limit the amount of time spent being sedentary, particularly the amount of recreational screen time.</li>
				<li>have 10h of good quality sleep, which may include a nap, with regular sleep and wake-up times.</li>
			</ul>
			<p style="font-size: 17px; width: 80%; margin-top: 15px;"><b>Adults aged 18-64 years</b></p>	
			<ul style="list-style-type: disc; font-size: 17px; width: 80%; line-height: 30px;">
				<li>should do at least 150-300 minutes of moderate-intensity aerobic physical activity; 
				</li>
				<li>or at least 75-150 minutes of vigorous-intensity aerobic physical activity; or an equivalent combination of moderate- and vigorous-intensity activity throughout the week
				</li>
				<li>should also do muscle-strengthening activities at moderate or greater intensity that involve all major muscle groups on 2 or more days a week, as these provide additional health benefits.</li>
				<li>may increase moderate-intensity aerobic physical activity to more than 300 minutes; or do more than 150 minutes of vigorous-intensity aerobic physical activity; or an equivalent combination of moderate- and vigorous-intensity activity throughout the week for additional health benefits.</li>
				<li>should limit the amount of time spent being sedentary. Replacing sedentary time with physical activity of any intensity (including light intensity) provides health benefits, and</li>
				<li>to help reduce the detrimental effects of high levels of sedentary behaviour on health, all adults and older adults should aim to do more than the recommended levels of moderate- to vigorous-intensity physical activity.</li>
			</ul>
			<p style="font-size: 17px; width: 80%; margin-top: 15px;"><b>Adults aged 65 years and above</b></p>	
			<ul style="list-style-type: disc; font-size: 17px; width: 80%; line-height: 30px;">
				<li>Same as for adults; and
				</li>
				<li>as part of their weekly physical activity, older adults should do varied multicomponent physical activity that emphasizes functional balance and strength training at moderate or greater intensity, on 3 or more days a week, to enhance functional capacity and to prevent falls. 
				</li>
			</ul>
			<p style="font-size: 17px; width: 80%; margin-top: 15px;"><b>Pregnant and postpartum women</b></p>	
			<ul style="list-style-type: disc; font-size: 17px; width: 80%; line-height: 30px;">
				<li>do at least 150 minutes of moderate-intensity aerobic physical activity throughout the week</li>
				<li>incorporate a variety of aerobic and muscle-strengthening activities</li>
				<li>should limit the amount of time spent being sedentary. Replacing sedentary time with physical activity of any intensity (including light intensity) provides health benefits.</li>
			</ul>
		</div>
	</div>
</section>

<style>
	a,
	a:active,
	a:focus {
		color: #6f6f6f;
		text-decoration: none;
		transition-timing-function: ease-in-out;
		-ms-transition-timing-function: ease-in-out;
		-moz-transition-timing-function: ease-in-out;
		-webkit-transition-timing-function: ease-in-out;
		-o-transition-timing-function: ease-in-out;
		transition-duration: .2s;
		-ms-transition-duration: .2s;
		-moz-transition-duration: .2s;
		-webkit-transition-duration: .2s;
		-o-transition-duration: .2s;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	section {
		padding: 60px 0;
		/* min-height: 100vh;*/
	}

	.sec-title {
		position: relative;
		z-index: 1;
		margin-bottom: 60px;
	}

	.sec-title .title {
		position: relative;
		display: block;
		font-size: 18px;
		line-height: 24px;
		color: #00aeef;
		font-weight: 500;
		margin-bottom: 15px;
	}

	.sec-title h2 {
		position: relative;
		display: block;
		font-size: 40px;
		line-height: 1.28em;
		color: #222222;
		font-weight: 600;
		padding-bottom: 18px;
	}

	.sec-title h2:before {
		position: absolute;
		content: '';
		left: 0px;
		bottom: 0px;
		width: 50px;
		height: 3px;
		background-color: #d1d2d6;
	}

	.sec-title .text {
		position: relative;
		font-size: 16px;
		line-height: 26px;
		color: #848484;
		font-weight: 400;
		margin-top: 35px;
	}

	.sec-title.light h2 {
		color: #ffffff;
	}

	.sec-title.text-center h2:before {
		left: 50%;
		margin-left: -25px;
	}

	.list-style-one {
		position: relative;
	}

	.list-style-one li {
		position: relative;
		font-size: 16px;
		line-height: 26px;
		color: #222222;
		font-weight: 400;
		padding-left: 35px;
		margin-bottom: 12px;
	}

	.list-style-one li:before {
		content: "\f058";
		position: absolute;
		left: 0;
		top: 0px;
		display: block;
		font-size: 18px;
		padding: 0px;
		color: #ff2222;
		font-weight: 600;
		-moz-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		line-height: 1.6;
		font-family: "Font Awesome 5 Free";
	}

	.list-style-one li a:hover {
		color: #44bce2;
	}

	.btn-style-one {
		position: relative;
		display: inline-block;
		font-size: 17px;
		line-height: 30px;
		color: #ffffff;
		padding: 10px 30px;
		font-weight: 600;
		overflow: hidden;
		letter-spacing: 0.02em;
		background-color: #00aeef;
	}

	.btn-style-one:hover {
		background-color: #0794c9;
		color: #ffffff;
	}

	.about-section {
		position: relative;
		padding: 120px 0 70px;
	}

	.about-section .sec-title {
		margin-bottom: 45px;
	}

	.about-section .content-column {
		position: relative;
		margin-bottom: 50px;
	}

	.about-section .content-column .inner-column {
		position: relative;
		padding-left: 30px;
	}

	.about-section .text {
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 26px;
		color: #848484;
		font-weight: 400;
	}

	.about-section .list-style-one {
		margin-bottom: 45px;
	}

	.about-section .btn-box {
		position: relative;
	}

	.about-section .btn-box a {
		padding: 15px 50px;
	}

	.about-section .image-column {
		position: relative;
	}

	.about-section .image-column .text-layer {
		position: absolute;
		right: -110px;
		top: 50%;
		font-size: 325px;
		line-height: 1em;
		color: #ffffff;
		margin-top: -175px;
		font-weight: 500;
	}

	

	.about-section .image-column .inner-column .author-desc h2 {
		font-size: 21px;
		letter-spacing: 1px;
		text-align: center;
		color: #fff;
		margin: 0;
	}

	.about-section .image-column .inner-column .author-desc span {
		font-size: 16px;
		letter-spacing: 6px;
		text-align: center;
		color: #fff;
		display: block;
		font-weight: 400;
	}

	.about-section .image-column .inner-column:before {
		content: '';
		position: absolute;
		width: calc(50% + 80px);
		height: calc(100% + 160px);
		top: -80px;
		left: -3px;
		background: transparent;
		z-index: 0;
		border: 44px solid #00aeef;
	}

	.about-section .image-column .image-1 {
		position: relative;
	}

	.about-section .image-column .image-2 {
		position: absolute;
		left: 0;
		bottom: 0;
	}

	.about-section .image-column .image-2 img,
	.about-section .image-column .image-1 img {
		box-shadow: 0 30px 50px rgba(8, 13, 62, .15);
		border-radius: 46px;
	}

	.about-section .image-column .video-link {
		position: absolute;
		left: 70px;
		top: 170px;
	}

	.about-section .image-column .video-link .link {
		position: relative;
		display: block;
		font-size: 22px;
		color: #191e34;
		font-weight: 400;
		text-align: center;
		height: 100px;
		width: 100px;
		line-height: 100px;
		background-color: #ffffff;
		border-radius: 50%;
		box-shadow: 0 30px 50px rgba(8, 13, 62, .15);
		-webkit-transition: all 300ms ease;
		-moz-transition: all 300ms ease;
		-ms-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		transition: all 300ms ease;
	}

	.about-section .image-column .video-link .link:hover {
		background-color: #191e34;
		
	}

</style>

{% endblock content %}