{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="about-section">
	<div class="container">
		<div class="row">
			<div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
				<div class="inner-column">
					<div class="sec-title">
						<span class="title"></span>
						<h2>overview</h2>
					</div>
					<div class="text">A heart attack occurs when the flow of blood to the heart is severely reduced or
						blocked. The blockage is usually due to a buildup of fat, cholesterol and other substances in
						the heart (coronary) arteries. The fatty, cholesterol-containing deposits are called plaques.
						The process of plaque buildup is called atherosclerosis.

						Sometimes, a plaque can rupture and form a clot that blocks blood flow. A lack of blood flow can
						damage or destroy part of the heart muscle. </div>
					<div class="text">
						A heart attack occurs when an artery that sends blood and oxygen to the heart is blocked. Fatty,
						cholesterol-containing deposits build up over time, forming plaques in the heart's arteries. If
						a plaque ruptures, a blood clot can form. The clot can block arteries, causing a heart attack.
						During a heart attack, a lack of blood flow causes the tissue in the heart muscle to die.

						A heart attack is also called a myocardial infarction.

						Prompt treatment is needed for a heart attack to prevent death. Call 911 or emergency medical
						help if you think you might be having a heart attack. </div>
					<!-- <div class="btn-box">
						<a href="#" class="theme-btn btn-style-one">Contact Us</a>
					</div> -->
				</div>
			</div>

			<!-- Image Column -->
			<div class="image-column col-lg-6 col-md-12 col-sm-12">
				<div>

					<figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img
								title="Rahul Kumar Yadav" src="{% static '\img\person\heart .jpeg' %}" alt=""></a>
					</figure>

				</div>
			</div>

		</div>
		<div class="sec-title">
			<!-- <span class="title">Our Future Goal</span> -->
			<h2>symptoms</h2>
		</div>
		<div class="text">
			Symptoms of a heart attack vary. Some people have mild symptoms. Others have severe symptoms. Some people
			have no symptoms.
		</div>
		<div class="text">
			Common heart attack symptoms include:
		</div>
		<div class="text">
			Chest pain that may feel like pressure, tightness, pain, squeezing or aching
		</div>
		<div class="text">
			Pain or discomfort that spreads to the shoulder, arm, back, neck, jaw, teeth or sometimes the upper belly
		</div>
		<div class="text">
			Cold sweat </div>
		<div class="text">
			Fatigue
		</div>
		<div class="text">
			Heartburn or indigestion,
			Lightheadedness or sudden dizziness,
			Nausea,
			Shortness of breath </div>

		<div class="text">
			Women may have atypical symptoms such as brief or sharp pain felt in the neck, arm or back. Sometimes, the
			first symptom sign of a heart attack is sudden cardiac arrest.
		</div>
		<div class="text">

			Some heart attacks strike suddenly. But many people have warning signs and symptoms hours, days or weeks in
			advance. Chest pain or pressure (angina) that keeps happening and doesn't go away with rest may be an early
			warning sign. Angina is caused by a temporary decrease in blood flow to the heart. </div>
	</div>
</section>

<style>
	/* h1,
        h2,
        h3,
        h4,
        h5,
        h6 {}
        a,
        a:hover,
        a:focus,
        a:active {
            text-decoration: none;
            outline: none;
        } */

	a,
	a:active,
	a:focus {
		color: #6f6f6f;
		text-decoration: none;
		transition-timing-function: ease-in-out;
		-ms-transition-timing-function: ease-in-out;
		-moz-transition-timing-function: ease-in-out;
		-webkit-transition-timing-function: ease-in-out;
		-o-transition-timing-function: ease-in-out;
		transition-duration: .2s;
		-ms-transition-duration: .2s;
		-moz-transition-duration: .2s;
		-webkit-transition-duration: .2s;
		-o-transition-duration: .2s;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	section {
		padding: 60px 0;
		/* min-height: 100vh;*/
	}

	.sec-title {
		position: relative;
		z-index: 1;
		margin-bottom: 60px;
	}

	.sec-title .title {
		position: relative;
		display: block;
		font-size: 18px;
		line-height: 24px;
		color: #00aeef;
		font-weight: 500;
		margin-bottom: 15px;
	}

	.sec-title h2 {
		position: relative;
		display: block;
		font-size: 40px;
		line-height: 1.28em;
		color: #222222;
		font-weight: 600;
		padding-bottom: 18px;
	}

	.sec-title h2:before {
		position: absolute;
		content: '';
		left: 0px;
		bottom: 0px;
		width: 50px;
		height: 3px;
		background-color: #d1d2d6;
	}

	.sec-title .text {
		position: relative;
		font-size: 16px;
		line-height: 26px;
		color: #848484;
		font-weight: 400;
		margin-top: 35px;
	}

	.sec-title.light h2 {
		color: #ffffff;
	}

	.sec-title.text-center h2:before {
		left: 50%;
		margin-left: -25px;
	}

	.list-style-one {
		position: relative;
	}

	.list-style-one li {
		position: relative;
		font-size: 16px;
		line-height: 26px;
		color: #222222;
		font-weight: 400;
		padding-left: 35px;
		margin-bottom: 12px;
	}

	.list-style-one li:before {
		content: "\f058";
		position: absolute;
		left: 0;
		top: 0px;
		display: block;
		font-size: 18px;
		padding: 0px;
		color: #ff2222;
		font-weight: 600;
		-moz-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		line-height: 1.6;
		font-family: "Font Awesome 5 Free";
	}

	.list-style-one li a:hover {
		color: #44bce2;
	}

	.btn-style-one {
		position: relative;
		display: inline-block;
		font-size: 17px;
		line-height: 30px;
		color: #ffffff;
		padding: 10px 30px;
		font-weight: 600;
		overflow: hidden;
		letter-spacing: 0.02em;
		background-color: #00aeef;
	}

	.btn-style-one:hover {
		background-color: #0794c9;
		color: #ffffff;
	}

	.about-section {
		position: relative;
		padding: 120px 0 70px;
	}

	.about-section .sec-title {
		margin-bottom: 45px;
	}

	.about-section .content-column {
		position: relative;
		margin-bottom: 50px;
	}

	.about-section .content-column .inner-column {
		position: relative;
		padding-left: 30px;
	}

	.about-section .text {
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 26px;
		color: #848484;
		font-weight: 400;
	}

	.about-section .list-style-one {
		margin-bottom: 45px;
	}

	.about-section .btn-box {
		position: relative;
	}

	.about-section .btn-box a {
		padding: 15px 50px;
	}

	.about-section .image-column {
		position: relative;
	}

	.about-section .image-column .text-layer {
		position: absolute;
		right: -110px;
		top: 50%;
		font-size: 325px;
		line-height: 1em;
		color: #ffffff;
		margin-top: -175px;
		font-weight: 500;
	}



	.about-section .image-column .inner-column .author-desc h2 {
		font-size: 21px;
		letter-spacing: 1px;
		text-align: center;
		color: #fff;
		margin: 0;
	}

	.about-section .image-column .inner-column .author-desc span {
		font-size: 16px;
		letter-spacing: 6px;
		text-align: center;
		color: #fff;
		display: block;
		font-weight: 400;
	}

	.about-section .image-column .inner-column:before {
		content: '';
		position: absolute;
		width: calc(50% + 80px);
		height: calc(100% + 160px);
		top: -80px;
		left: -3px;
		background: transparent;
		z-index: 0;
		border: 44px solid #00aeef;
	}

	.about-section .image-column .image-1 {
		position: relative;
	}

	.about-section .image-column .image-2 {
		position: absolute;
		left: 0;
		bottom: 0;
	}

	.about-section .image-column .image-2 img,
	.about-section .image-column .image-1 img {
		box-shadow: 0 30px 50px rgba(8, 13, 62, .15);
		border-radius: 46px;
	}

	.about-section .image-column .video-link {
		position: absolute;
		left: 70px;
		top: 170px;
	}

	.about-section .image-column .video-link .link {
		position: relative;
		display: block;
		font-size: 22px;
		color: #191e34;
		font-weight: 400;
		text-align: center;
		height: 100px;
		width: 100px;
		line-height: 100px;
		background-color: #ffffff;
		border-radius: 50%;
		box-shadow: 0 30px 50px rgba(8, 13, 62, .15);
		-webkit-transition: all 300ms ease;
		-moz-transition: all 300ms ease;
		-ms-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		transition: all 300ms ease;
	}

	.about-section .image-column .video-link .link:hover {
		background-color: #191e34;

	}
</style>

{% endblock content %}