{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="about-section">
	<div class="container">
		<div class="row">
			<div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
				<div class="inner-column">
					<div class="sec-title">
						<span class="title"></span>
						<h2>overview</h2>
					</div>
					<div class="text">The kidneys are two bean-shaped organs that filter your blood. Your kidneys are
						part of your urinary system.

						Your kidneys filter about 200 quarts of fluid every day — enough to fill a large bathtub. During
						this process, your kidneys remove waste, which leaves your body as urine (pee). Most people pee
						about two quarts daily. Your body re-uses the other 198 quarts of fluid.

						Your kidneys also help balance your body’s fluids (mostly water) and electrolytes. Electrolytes
						are essential minerals that include sodium and potassium.</div>
					<div class="text">

					</div>
					<!-- <div class="btn-box">
						<a href="#" class="theme-btn btn-style-one">Contact Us</a>
					</div> -->
				</div>
			</div>

			<!-- Image Column -->
			<div class="image-column col-lg-6 col-md-12 col-sm-12">
				<div>

					<figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img
								title="Rahul Kumar Yadav" src="{% static '\img\person\kidney.jpeg' %}" alt=""></a>
					</figure>

				</div>
			</div>

		</div>
		<div class="sec-title">
			<!-- <span class="title">Our Future Goal</span> -->
			<h2>symptoms</h2>
		</div>
		<div class="text">
			Control the acid-base balance (pH balance) of your blood,
			Make sugar (glucose) if your blood doesn’t have enough sugar,
			Make a protein called renin that increases blood pressure,
			Produce the hormones calcitriol and erythropoietin. Calcitriol is a form of vitamin D that helps your body
			absorb calcium. Erythropoietin helps your body make red blood cells.
			An adrenal gland sits on top of each kidney. It produces hormones, including cortisol, which helps your body
			respond to stress.
		</div>
		<div class="text">
			We take a small toolkit here and ride it well so that it is fit for your use. One who performs well and
			looks even better.
		</div>
		<div class="text">
			Here we are trying to give you all kinds of technical content, whether it is related to designing or
			functionality. We are creating content on a lot of languages and will continue to make it free of cost even
			if you use it without any problem. Which is a very important thing.
		</div>
		<div class="text">
			Here you can also share the content you create, if our technical team likes it, then we will also share it
			on our blog.
		</div>
		<div class="text">

			In the end, I would say keep visiting our website and enjoy the quality content.
		</div>
	</div>
</section>


{% endblock content %}