{% extends "base.html" %} {% load static %} {% block content %}

<section class="about-section">
	<div class="container">
		<div class="row">
			<div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
				<div class="inner-column">
					<div class="sec-title">
						<span class="title"></span>
						<h2>overview</h2>
					</div>
					<div>
						Mange is called scabies in humans. Scabies is caused by one type of mite, and mange is caused by
						another type of mite. Animal mites that cause mange are rarely, if ever, transmitted to humans.
					</div><br>
					<div>Mange is a skin condition that’s caused by mites to animals. The human version of this
						condition is called scabies. Mites are tiny parasites that feed and live on or under your skin.
						For the purpose of this article we will refer to both as mange, as animal mites may cause
						irritation on human skin without causing scabies. Mange can itch and appear as red bumps or
						blisters.</div><br>

					<div>Most people get scabies from direct, skin-to-skin contact. Less often, people pick up mites
						from infested items such as bedding, clothes, and furniture. More than 100 million people
						throughout the world get scabies each year. Animal mites (mange) do not typically infest humans.
					</div>
					<!-- <div class="btn-box">
						<a href="#" class="theme-btn btn-style-one">Contact Us</a>
					</div> -->
				</div>
			</div>

			<!-- Image Column -->
			<div class="image-column col-lg-6 col-md-12 col-sm-12">
				<div>
					<figure class="image-1">
						<a href="#" class="lightbox-image" data-fancybox="images"><img title="Rahul Kumar Yadav"
								src="{% static '\img\person\work-life-balance 2.webp' %}" alt="" /></a>
					</figure>
				</div>
			</div>
		</div>
		<div class="sec-title">
			<!-- <span class="title">Our Future Goal</span> -->
			<h2>symptoms</h2>
		</div>
		<div class="text">
			Mange can cause severe itching, redness, and a rash. If an infestation occurs, papules may present within 2
			to 5 weeksTrusted Source, according to one 2021 study. Your skin’s sensitivity to the proteins and feces
			from the mites causes the symptoms. A mite that causes mange in humans stays on the skin approximately17
			days, according to the same study. Adult female mites lay two to three eggs daily. The mites die 30 to 60
			days later, and the eggs hatch after approximately 2 to 3 weeks. </div>
		<h2>Symptoms of mange include:</h2>
		<div class="text">
			severe itching, particularly at night:
			skin rash, sometimes called “scabies rash”:
			raised, skin-colored or grayish-white tracts, bumps, or blisters on the surface of the skin, caused from
			burrows created by female mites:
		</div>
		<div class="text">
			Here we are trying to give you all kinds of technical content, whether it
			is related to designing or functionality. We are creating content on a lot
			of languages and will continue to make it free of cost even if you use it
			without any problem. Which is a very important thing.
		</div>
		<div class="text">
			Mites that cause scabies and mange can spread easily. Physical contact and sharing clothes or bed linens
			with someone who has mange can cause the infection. Mites can live for days on animals or textiles. You may
			even get scabies or another form of mange from sexual contact. Because it spreads quickly, those living with
			someone with mange should get treatment. You may be at increased risk for mange if you:
		</div>
		<div class="text">
			See a doctor right away if you suspect you have scabies or an animal mite infestation. The doctor will look
			at your skin and try to see signs of mite infestation, such as a burrow.

			It’s possible that your doctor will locate a mite or take a sample of your skin from a suspected affected
			area. Your doctor may view it through a microscope for a complete diagnosis.

			A doctor may not find the mites on your skin even if you have mange. Or you may only have as few as 10 to 15
			mites on your skin. In that case, they will make the diagnosis based on your physical symptoms.
		</div>
		<div></div>
	</div>
</section>

<style>
	/* h1,
        h2,
        h3,
        h4,
        h5,
        h6 {}
        a,
        a:hover,
        a:focus,
        a:active {
            text-decoration: none;
            outline: none;
        } */

	a,
	a:active,
	a:focus {
		color: #6f6f6f;
		text-decoration: none;
		transition-timing-function: ease-in-out;
		-ms-transition-timing-function: ease-in-out;
		-moz-transition-timing-function: ease-in-out;
		-webkit-transition-timing-function: ease-in-out;
		-o-transition-timing-function: ease-in-out;
		transition-duration: 0.2s;
		-ms-transition-duration: 0.2s;
		-moz-transition-duration: 0.2s;
		-webkit-transition-duration: 0.2s;
		-o-transition-duration: 0.2s;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	section {
		padding: 60px 0;
		/* min-height: 100vh;*/
	}

	.sec-title {
		position: relative;
		z-index: 1;
		margin-bottom: 60px;
	}

	.sec-title .title {
		position: relative;
		display: block;
		font-size: 18px;
		line-height: 24px;
		color: #00aeef;
		font-weight: 500;
		margin-bottom: 15px;
	}

	.sec-title h2 {
		position: relative;
		display: block;
		font-size: 40px;
		line-height: 1.28em;
		color: #222222;
		font-weight: 600;
		padding-bottom: 18px;
	}

	.sec-title h2:before {
		position: absolute;
		content: "";
		left: 0px;
		bottom: 0px;
		width: 50px;
		height: 3px;
		background-color: #d1d2d6;
	}

	.sec-title .text {
		position: relative;
		font-size: 16px;
		line-height: 26px;
		color: #848484;
		font-weight: 400;
		margin-top: 35px;
	}

	.sec-title.light h2 {
		color: #ffffff;
	}

	.sec-title.text-center h2:before {
		left: 50%;
		margin-left: -25px;
	}

	.list-style-one {
		position: relative;
	}

	.list-style-one li {
		position: relative;
		font-size: 16px;
		line-height: 26px;
		color: #222222;
		font-weight: 400;
		padding-left: 35px;
		margin-bottom: 12px;
	}

	.list-style-one li:before {
		content: "\f058";
		position: absolute;
		left: 0;
		top: 0px;
		display: block;
		font-size: 18px;
		padding: 0px;
		color: #ff2222;
		font-weight: 600;
		-moz-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		line-height: 1.6;
		font-family: "Font Awesome 5 Free";
	}

	.list-style-one li a:hover {
		color: #44bce2;
	}

	.btn-style-one {
		position: relative;
		display: inline-block;
		font-size: 17px;
		line-height: 30px;
		color: #ffffff;
		padding: 10px 30px;
		font-weight: 600;
		overflow: hidden;
		letter-spacing: 0.02em;
		background-color: #00aeef;
	}

	.btn-style-one:hover {
		background-color: #0794c9;
		color: #ffffff;
	}

	.about-section {
		position: relative;
		padding: 120px 0 70px;
	}

	.about-section .sec-title {
		margin-bottom: 45px;
	}

	.about-section .content-column {
		position: relative;
		margin-bottom: 50px;
	}

	.about-section .content-column .inner-column {
		position: relative;
		padding-left: 30px;
	}

	.about-section .text {
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 26px;
		color: #848484;
		font-weight: 400;
	}

	.about-section .list-style-one {
		margin-bottom: 45px;
	}

	.about-section .btn-box {
		position: relative;
	}

	.about-section .btn-box a {
		padding: 15px 50px;
	}

	.about-section .image-column {
		position: relative;
	}

	.about-section .image-column .text-layer {
		position: absolute;
		right: -110px;
		top: 50%;
		font-size: 325px;
		line-height: 1em;
		color: #ffffff;
		margin-top: -175px;
		font-weight: 500;
	}

	.about-section .image-column .inner-column .author-desc h2 {
		font-size: 21px;
		letter-spacing: 1px;
		text-align: center;
		color: #fff;
		margin: 0;
	}

	.about-section .image-column .inner-column .author-desc span {
		font-size: 16px;
		letter-spacing: 6px;
		text-align: center;
		color: #fff;
		display: block;
		font-weight: 400;
	}

	.about-section .image-column .inner-column:before {
		content: "";
		position: absolute;
		width: calc(50% + 80px);
		height: calc(100% + 160px);
		top: -80px;
		left: -3px;
		background: transparent;
		z-index: 0;
		border: 44px solid #00aeef;
	}

	.about-section .image-column .image-1 {
		position: relative;
	}

	.about-section .image-column .image-2 {
		position: absolute;
		left: 0;
		bottom: 0;
	}

	.about-section .image-column .image-2 img,
	.about-section .image-column .image-1 img {
		box-shadow: 0 30px 50px rgba(8, 13, 62, 0.15);
		border-radius: 46px;
	}

	.about-section .image-column .video-link {
		position: absolute;
		left: 70px;
		top: 170px;
	}

	.about-section .image-column .video-link .link {
		position: relative;
		display: block;
		font-size: 22px;
		color: #191e34;
		font-weight: 400;
		text-align: center;
		height: 100px;
		width: 100px;
		line-height: 100px;
		background-color: #ffffff;
		border-radius: 50%;
		box-shadow: 0 30px 50px rgba(8, 13, 62, 0.15);
		-webkit-transition: all 300ms ease;
		-moz-transition: all 300ms ease;
		-ms-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		transition: all 300ms ease;
	}

	.about-section .image-column .video-link .link:hover {
		background-color: #191e34;
	}
</style>

{% endblock content %}