{% extends "base.html" %} 
{% load static %} 
{% block content %}


  
  
<!-- <div>
  {json.dumps(data, indent=2)}
    
  </div> -->


<div class="page-banner overlay-dark bg-image" style="background-image: url(/static/img/person/blog2.jpg)">
  <div class="banner-section">
    <div class="container text-center wow fadeInUp">
      <nav aria-label="Breadcrumb">
        <!-- <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Blog</li>
        </ol> -->
      </nav>
      <h1 class="font-weight-normal">News</h1>
    </div>
    <!-- .container -->
  </div>
  <!-- .banner-section -->
</div>
<!-- .page-banner -->



<!-- .banner-home -->

<style>
  body {
    background: #f9f9f6;
  }

  h1 {
    color: #fff;
    padding: 10px 0;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(247, 246, 246, 0.2);
    transition: 0.3s;
    border: none;

    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    }

    a {
      color: initial;

      &:hover {
        text-decoration: initial;
      }
    }

    .text-muted i {
      margin: 0 10px;
    }
  }
  .card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
.newstrends{
  padding: 0px 210px 0px 210px;
}
</style>

<br />
<br />
<div class="news-header">
  <h3 style="text-align: center; font-weight: 600;">
    <u style="color:  rgb(23, 80, 186);">
AMONG THE GLOB    </u>
  </h3>

<!-- <a href="#" style="padding: 0px 0px 0px 0px;"> -->
  <!-- <div class="newstrends">
    <div class="container-fluid">
      <div class="row">
          <div class="col-12 mt-3">
              <div class="card">
                  <div class="card-horizontal">
                      <div class="img-square-wrapper">
                          <img class="" src="{% static '/img/person/coronavirus.jpeg' %}" alt="Card image cap">
                      </div>
                      <div class="card-body">
                          <h4 class="card-title" style="font-size: xx-large; font-weight: 600;">Covid-19 is back!!</h4>
                          <p class="card-text" style="font-size: x-large;">New coronavirus variant JN.1 is spreading fast.   <br> <p style="font-size: large;"> <br>
                            The rapid growth of the coronavirus subvariant JN.1 during the holiday season could fuel winter waves of illness in the United States and beyond, public health authorities warn.
                          <a href="#" style="color: blue;"> <br> Read More... </p> </a>
                          <br>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div> -->
  <!-- </div>
</a> <br><br> -->
<!-- </div> -->

<div class="container">
  <div class="text-center">
    <!-- <h1>Bootstrap card tiled layout</h1> -->
  </div>
  <div class="container">
    <div class="row">
    {% for post in data.posts %}
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ post.Title }}</h5>
            <p class="card-text">{{ post.Description }}</p>
          </div>
          <div class="card-footer">
            <a href="{{ post.Link }}" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}