{% extends "base.html" %} {% load static %} {% block content %}

<div class="page-banner overlay-dark bg-image" style="background-image: url(/static/img/disease\ 1.jpg)">
  <div class="banner-section">
    <div class="container text-center wow fadeInUp">
      <nav aria-label="Breadcrumb">
        <!-- <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">About</li>
        </ol> -->
      </nav>
      <!-- <h1 class="font-weight-normal"></h1> -->
    </div>
    <!-- .container -->
  </div>
  <!-- .banner-section -->
</div>
<!-- .page-banner -->

<!-- .page-banner -->
<div class="symptomform">
  <section class="contact-from pt-4">
    <div class="container">
      <div class="row mt-5">
        <div class="col-md-7 mx-auto">
          <div class="form-wrapper">
            <h4>
              {% if messages %} {% for message in messages %} {{ message }}
              {% endfor %} {% endif %}
            </h4>
            <div class="row">
              <div class="col-md-12">
                <h4>Symptoms Form</h4>
              </div>
            </div>
            <form id="symptomForm" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name" name="sname"
                      value="{{ symptomdata.rname }}" disabled />
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" name="semail"
                      value="{{ symptomdata.remail }}" disabled />
                  </div>
                </div>

                <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="Height" name="sheight" />
                </div>


                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Weight" name="sweight" />
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    Choose PDF File :
                    <input type="file" class="form-control" name="sfile" />
                  </div>
                </div>

                  <div class="col-12 py-2 wow fadeInUp">
                    <label for="trcode"></label>
                    <textarea id="trcode" class="form-control" rows="8" placeholder="Enter Message.."
                      name="sdesc"></textarea>
                  </div>
              </div>
              
              <div class="col-md-6">
                {% for sd in sytmaddata %} 
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="" value="{{ sd.symptomurl }}" disabled />
                </div>
                {% endfor %}
              </div>
              

              <div class="mt-3">
                <button class="button btn btn-outline-primary" type="submit">
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<style>
  h4 {
    font-weight: bold;
    margin-bottom: 2.5rem;
  }

  .form-wrapper {
    background: #fff;
    border-radius: 5px;
    padding: 50px;
  }

  .form-control,
  .custom-select {
    border-radius: 0px;
    color: #495057;
    background-color: #f1f1f1;
    border-color: none;
  }

  .form-control:focus {
    color: #495057;
    background-color: #ffffff;
    border: 1px solid #b5b6b3;
    outline: 0;
    box-shadow: none;
  }
</style>

<!-- <div class="maps-container wow fadeInUp">
    <div id="google-maps"></div>
  </div> -->

<!-- <script>
  function submitAndRedirect() {
    var keyword = document.getElementById("trcode").value.toLowerCase().trim();

    if (keyword === "eyes") {
      window.location.href =
        "https://www.healthline.com/health/eye-health/home-remedies-for-eye-infection";
    } else if (keyword === "attack") {
      window.location.href =
        "https://www.healthline.com/health/home-remedies-for-heart-pain";
    } else if (keyword === "asthma") {
      window.location.href =
        "https://www.healthline.com/health/severe-asthma/natural-remedies";
    } else if (keyword === "hair") {
      window.location.href =
        "https://www.healthline.com/health/regrow-hair-naturally";
    } else if (keyword === "diabetes") {
      window.location.href =
        "https://www.webmd.com/diabetes/natural-remedies-type-2-diabetes";
    } else if (keyword === "tuberculosis") {
      window.location.href =
        "https://www.thehealthsite.com/home-remedies/tuberculosis-here-are-some-home-remedies-to-accelerate-the-healing-process-791608/";
    } else if (keyword === "cardio") {
      window.location.href =
        "https://newsnetwork.mayoclinic.org/discussion/home-remedies-lifestyle-changes-can-help-your-heart-health/";
    } else if (keyword === "cancer") {
      window.location.href =
        "https://www.patientpower.info/navigating-cancer/natural-remedies-cancer";
    } else if (keyword === "neurological") {
      window.location.href =
        "https://www.healthline.com/health/peripheral-neuropathy-natural-treatments";
    } else if (keyword === "gas") {
      window.location.href =
        "https://www.healthline.com/health/immediate-relief-for-trapped-gas-home-remedies-and-prevention-tips";
    } else if (keyword === "kidney") {
      window.location.href =
        "https://www.healthline.com/health/kidney-infection-home-remedies";
    } else if (keyword === "liver") {
      window.location.href =
        "https://www.healthline.com/health/home-remedies-for-fatty-liver";
    } else if (keyword === "chronic") {
      window.location.href =
        "https://www.healthline.com/health/copd/home-remedies";
    } else if (keyword === "skin") {
      window.location.href =
        "https://healthline.com/health/beauty-skin-care/home-remedies-for-glowing-skin";
    } else if (keyword === "flu") {
      window.location.href = "https://www.cdc.gov/flu/symptoms/symptoms.htm";
    } else if (keyword === "zikavirus") {
      window.location.href = "https://www.ecdc.europa.eu/en/zika-virus-disease";
    } else {
      alert("Invalid keyword entered. Please enter a valid keyword.");
    }
    return false;
  }
</script> -->

{% endblock content %}